<%= content_tag :div, class: "music" do %>
	<object width="482" height="260" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsPlaylist9466717095" name="gsPlaylist9466717095">
		<param name="movie" value="http://grooveshark.com/widget.swf" />
		<param name="wmode" value="window" />
		<param name="allowScriptAccess" value="always" />
		<param name="flashvars" value="hostname=grooveshark.com&playlistID=94667170&p=0&bbg=006699&bth=006699&pfg=006699&lfg=006699&bt=ffffff&pbg=ffffff&pfgh=ffffff&si=ffffff&lbg=ffffff&lfgh=ffffff&sb=ffffff&bfg=cc0000&pbgh=cc0000&lbgh=cc0000&sbh=cc0000" />
		<object type="application/x-shockwave-flash" data="http://grooveshark.com/widget.swf" width="482" height="260">
			<param name="wmode" value="window" />
			<param name="allowScriptAccess" value="always" />
			<param name="flashvars" value="hostname=grooveshark.com&playlistID=94667170&p=0&bbg=006699&bth=006699&pfg=006699&lfg=006699&bt=ffffff&pbg=ffffff&pfgh=ffffff&si=ffffff&lbg=ffffff&lfgh=ffffff&sb=ffffff&bfg=cc0000&pbgh=cc0000&lbgh=cc0000&sbh=cc0000" />
			<span>
				<a href="http://grooveshark.com/search/playlist?q=Summer%20Movie%202014%20Nick%20Rogers" title="Summer Movie 2014 by Nick Rogers on Grooveshark">Summer Movie 2014 by Nick Rogers on Grooveshark</a>
			</span>
		</object>
	</object>
<% end %>