#nav { 
	width: 100%; 
	position:absolute; 
	margin-bottom:16px; 
	top: 0; 
	background-color: #d5d5d5; 
	border-bottom: 1px solid #ccc;  
	ul.mainmenu {
		list-style: none; 
		margin: 0; 
		text-align:center; 
		padding: 0;
		
		li {
			float:left;
			&.page_title {
				padding: 8px 15px; 
				font-weight:bold; 
				float:right; 
				margin-right:20px;
			}
			&.is_active {
				background-color:#fff;
			}
			&:first-child a {
				border-left: 1px solid #ccc;
			}
			a {
				display: block;	
				padding: 8px 15px; 
				text-decoration: none; 
				font-weight: bold; 
				border-right: 1px solid #ccc;
				&:hover {
					background-color: #fff;
				}
			}
			
			div.submenu {
				background-color:#d5d5d5;
				position:absolute;
				width:120px;
				height:80px;
				display:none;
				border: 1px solid #ccc;
				ul {
					list-style: none; 
					margin: 0;
					text-align:center;
					padding: 0;
					
					li {
						float:none;
						a {
							border:none;
						}
					}
				}
				&:hover {
					display:block;
				}
			}
			&:hover div.submenu {
				display:block;
			}
		}
	}
}

a {
	color: #069; 
	text-decoration: none;
	&:hover {
		color: #c00;
	}
}

#main {
	#main_left {
		padding: 16px;
		max-width:600px;
	}
	#main_right {
		padding: 16px;
		max-width:800px;
	}
	table {
		th,td{
			font-size:14px;
		}
		.tbl_bold {
			font-weight:bold !important;
		}
		.shares {
			font-size:11px;font-style:italic;
		}
		.darkgreen {
			background-color:#050;
			color:#FFF;
		}
		.darkred {
			background-color:#500;
			color:#FFF;
		}
		.green {
			background-color:#CFC;
			color:#000 !important;
		}
		.red {
			background-color:#FCC;
			color:#000 !important;
		}
	}
}

body {
	font-family:'Segoe UI','Helvetica','Arial' !important;
}
