// Place all the styles related to the new controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
	.music {
		text-align:center;
	}
	.movie {
		.movie_name {
			border-bottom: solid 1px #000;
			background-color:#D5D5D5;
			color: #000;
			font-size:21px;
			font-weight:bold;
			float:left;
			width:313px;
			text-align:center;
		}
		
		.movie_plot {
			padding:9px;
		}
		
		.movie_actors {
			position:absolute;
			bottom: 0;
			left:105px;
			border-top:solid 1px #000;
			width:310px;
			padding-left: 4px;
			text-align:left;
		}
		
		.poster_container {
			border-right: solid 1px #000;
			height:200px;
			float: left;
			width: 105px;
			display:flex;
			justify-content:center;
			align-items:center;
		}
		
		.shares_container {
			border-left: solid 1px #000;
			height:130px;
			float:right;
			width: 60px;
			font-size:10px;
			font-weight:bold;
			font-style:italic;
			text-align:center;
			padding-top:70px;
			
			input {
				width:65%;
			}
		}
		
		width: 480px;
		height:200px;
		margin:6px;
		border: solid 1px #000;
		border-radius: 4px;
		position:relative;
		text-align:center;
		font-size:12px;
		float:left;
	}
	
	.bonus .movie_name {
		background-color:#FFFFD5;
		width:419px;
	}

	#submit_container {
		width:100%;
		text-align:center;
		&:input {
			width:140px;
		}
		clear:both;
	}
	
	.notice {
		width:480px;
		padding:9px;
		border-radius: 4px;
		border: solid 2px #080;
		background-color: #DFD;
		margin:24px auto;
		text-align:center;
	}
	
	width:990px;
	margin:0 auto;
}

.whoareyou, .moneyRemaining {
	width: 480px;
	float:left;
}

#nav {position:fixed !important; z-index:1000;}

input {
	text-align: center;
	font-family:'Segoe UI','Helvetica','Arial';
	font-size:18px;
	font-weight:bold;
}

.ui-progressbar {
	position: relative;
}
.progress-label {
	position: absolute;
	left: 4px;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

@media only screen and (max-device-width: 480px) {
	#container,#wrapper,#nav {
		width:480px;
	}
	#container {
		margin-top:60px;
	}
	#nav {
		li.page_title {
			display:none;
		}
	}
	.music {
		display:none;
	}
}